<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('_common/head') -%>
</head>
<body>
    <%- include('_partial/header') -%>
    <main class="container">
        <div class="basic">
            <%- include('_partial/profile') -%>
            <%- include('_partial/education') -%>
            <%- include('_partial/hobby') -%>
            <%- include('_partial/qrcode') -%>
        </div>
        <div class="professional">
            <%- include('_partial/skills') -%>
            <%- include('_partial/experience') -%>
            <%- include('_partial/project') -%>
        </div>
    </main>
</body>
</html>