.education{
    padding: 15px;

    .eduDetails{
        margin-top: 10px;
        list-style: none;

        .eduItem{
            margin: 10px 0;
            line-height: 1.6;

            .time{
                display: block;
                color: #878787;
                font-size: 14px;
            }

            .school{
                display: inline-block;
                margin-right: 10px;
                font-size: 18px;
                margin-bottom: 5px;
            }

            .major{
                // color: #878787;
                font-size: 18px;
                margin-bottom: 5px;
            }

            .gpa{
                display: block;
                font-size: 17px;
            }

            .prize{
                font-size: 17px;
            }
        }
    }
}

@media print{
    .education{
        .eduDetails{
            .eduItem{
                .school{
                    font-size: 16px;
                }
                .major{
                    font-size: 16px;
                }
                .gpa{
                    font-size: 15px;
                }
    
                .prize{
                    font-size: 15px;
                }
            }
        }
    }
}