.profile{
    padding: 15px;

    .profileDetails{
        margin-top: 10px;
        list-style: none;

        .profileItem{
            margin: 10px 0;
            line-height: 1.6;
        }

        .name{
            font-size: 22px;
        }

        .fa{
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 10px;
            color: darken(#ff6a00,6%);
            text-align: center;
            
            &::before{
                font-size: 20px;
            }
        }
    }
}

@media print{
    .profile{
        .profileDetails{
            a{
                font-size: 16px;
            }
            .job{
                font-size: 16px;
            }
            .name{
                color: #ff6a00;
            }
        }
    }

}