.project{
    padding: 15px;

    .proDetails{
        margin-top: 10px;
        list-style: none;

        .proItem{
            margin-top: 10px;
            line-height: 1.6;
        }

        .proTitle{
            display: inline-block;
            margin-right: 5px;

            .proLink{
                font-size: 20px;
                color: darken(#ff6a00, 6%);
            }
        }

        .stack{
            float: right;
            font-size: 14px;
            line-height: 36.8px;
            .stackTag{
                color: #878787;
                &::before{
                    content: '#'
                }
            }
        }

        .summary{
            .summaryItem{
                margin-left: 20px;
                line-height: 1.6;
            }
        }
    }
}

@media screen and (max-width: 876px){
    .project{
        .proDetails{
            .proTitle{
                display: block;
            }
            .stack{
                display: block;
                float: none;
            }
        }
    }
}

@media print{
    .project{
        .proDetails{
            .proItem{
                .proTitle .proLink{
                    font-size: 20px;
                }
                .stack{
                    font-size: 12px;
                }
                .summary{
                    .summaryItem{
                        font-size: 18px;
                    }
                }
            }
        }
    }
}