<header class="header">
    <div class="logo-wrapper">
        <h1 class="logo">
            <%= logo %>
        </h1>
        <span class="job">
            <%= job %>
        </span>
    </div>
</header>