<div class="hobby">
    <h2 class="title"><%= __hobby %></h2>
    <ul class="hobDetails">
        <% hobby.forEach((item)=>{ %>
            <li class="hobItem"><%= item %></li>
        <% }) %>
    </ul>
</div>